/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container principal */
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px; /* Ajuste conforme necessário */
    margin: auto;
}

/* Título */
h1 {
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

/* Mensagem de sucesso */
.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #dddddd;
}

table th {
    background-color: #f8f8f8;
    color: #333333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo dos botões */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #218838;
}

form {
    display: inline;
}

form button:nth-child(2) {
    background-color: #dc3545;
}

form button:nth-child(2):hover {
    background-color: #c82333;
}

/* Links */
a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
